<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Amortisation Schedule</title>
    <link rel="stylesheet" href="/css/app.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="PayPal Exercise 1: Amortisation Schedule Generator using NodeJS and Kraken">
    <meta name="author" content="Lange Pantoja">

    <link rel="shortcut icon" href="/img/favicon.ico?v=2">

    <!-- Bootstrap core CSS -->
    <link href="/components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

</head>
<body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <div class="col-sm-2 hidden-xs">
        	    <a class="navbar-brand" href="http://krakenjs.com/" target="_"><img src="img/kraken.svg" alt="kraken logo" class="logo"></a>
              </div>

            </div>
            <div class="collapse navbar-collapse">
            </div><!--/.nav-collapse -->
          </div>
        </div>


<div id="wrapper">
    {+body /}
</div>
<script data-main="/js/app" src="components/requirejs/require.js"></script>
</body>
</html>
